portfolio/.DS_Store
portfolio/node_modules
portfolio/build
portfolio/.svelte-kit
portfolio/package
portfolio/.env
portfolio/.env.*
!portfolio/.env.example
portfolio/vite.config.js.timestamp-*
portfolio/vite.config.ts.timestamp-*
