<div id="code" class="lg:w-2/5 w-11/12 rounded-3xl">
<pre class="px-4 py-10 lg:px-6 lg:py-16 text-[12px] lg:text-[16px] font-medium"><code><span class="text-[#881A8A]">const</span> <span class="text-[#563AFF]">alvgonzx</span> = <span class="text-[#c3a709]">&lbrace;</span>
  <span class="text-[#FF3A3A]">name</span>: 'Álvaro González',
  <span class="text-[#FF3A3A]">role</span>: 'Fullstack Developer',
  <span class="text-[#FF3A3A]">hobbies</span>: 'Coding, calisthenics'
<span class="text-[#c3a709]">&rbrace;</span></code></pre>
</div>

<style>
    #code {
        box-shadow: 24px 24px 48px #d9d9d9, -24px -24px 48px #d9d9d9;
    }

    #about-me {
        padding-top: 100px;
        margin-top: -100px;
    }

    #projects {
        padding-top: 180px;
        margin-top: -130px;
    }
</style>
