---
import Card from "./Card.astro";
---

<section id="projects" class="flex w-10/12 mx-auto flex-col mt-20">
    <div id="projects-titles">
        <h2 class="text-center lg:text-[46px] text-[34px] leading-[40px] lg:leading-[52px] font-bold text-transparent bg-clip-text bg-gradient-to-r to-[#881A8A] from-[#563AFF] from-30%">Projects</h2>
        <p class="font-medium text-[16px] pt-1 lg:pt-3 text-center block w-full lg:w-1/2 mx-auto">Here you can check some of my personal and clients projects and all the info about them</p>
    </div>
    <div id="cards" class="flex w-full xl:flex-row xl:justify-between flex-col justify-center items-center mt-4 gap-5 xl:gap-0">
        <Card file="1" name="Efteling Queue Checker" url="https://efteling-queue-checker.vercel.app" description="Efteling themepark queue checker built with Svelte, Vite and Tailwind using the queue-times.com API" /> 
        <Card file="2" name="Ultimate GPT Writer" description="ChatGPT writer built with Python, Flask, Bootstrap and the OpenAI API. It's not free, it costs $12" url="https://forobeta.com/temas/creador-de-articulos-automatico-desde-12.953909/#post-8637312" /> 
        <Card file="3" name="entresemillas.com Webscraper" description="Online store webscraper built with Python and BeautifulSoup. Hosted on Google Colab" url="https://colab.research.google.com/drive/1VoVdRVSNXZDC-RfFos6moCbYB2xvUjuQ?usp=sharing"/> 
    </div>
</section>